.body {}

.tb {
    background-image: url('a.jpg');
    background-position: -100px;
    width: 100%;
    height: 700px;
    font-family: 'Lemon', serif;
}

.tb h2 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Lemon', serif;
    color: aliceblue;
}
